customer_support_agent(RAG).json
{
  "name": "customer_support_agent(RAG)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        336
      ],
      "id": "68b4812f-6f04-403e-9421-eb246f47c2d7",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support ",
              "description": "This classifier is designed to automatically analyze and categorize incoming customer support queries based on their content. It helps identify the intent behind each message—such as complaints, product inquiries, technical issues, refunds, feedback, or account-related questions—enabling faster and more accurate routing to the appropriate support team or automated response system. The goal is to streamline support workflows, reduce response times, and enhance customer satisfaction."
            },
            {
              "category": "other ",
              "description": "Other – Messages that don’t clearly fit into customer support, sales, or feedback categories. May include casual conversation, spam, or unrelated content."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -96,
        336
      ],
      "id": "b1735bfc-d419-49a8-8975-42c578cb1bab",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful and professional AI customer support assistant. Use the knowledge_base tool to find accurate and relevant information to assist with customer queries.\n\nYour task is to:\n\nCarefully read and understand the customer’s email to identify their question, concern, or request.\n\nRespond in a friendly, clear, and supportive tone, ensuring the message feels human and empathetic.\n\nOutput only the body content of the email reply — do not include headers like \"Subject,\" \"To,\" or \"From.\"\n\nAlways sign off your replies as Ahmad Hassan.\n\nKeep responses concise, informative, and focused on resolving the customer's issue or guiding them effectively.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        384,
        304
      ],
      "id": "80235771-df1f-49c8-9da4-77bbc9e420ad",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        512
      ],
      "id": "dd6b5911-478c-4815-bddb-b9c028c630ce",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a helpful assistant. Use the tool that allows you to access the 'faq_test_ragdemo1' database to retrieve documents relevant to the user's query. You must always use this tool for answering questions. If you cannot use the tool, show an error message explaining why.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdemo2",
          "mode": "list",
          "cachedResultName": "ragdemo2"
        },
        "options": {
          "pineconeNamespace": "faq_test_ragdemo1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        528
      ],
      "id": "737b2817-75ff-4107-841d-310328de66ef",
      "name": "knowledge_base"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        656
      ],
      "id": "7ebf02c3-8c13-4c8c-ba5c-39b865effc15",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        544
      ],
      "id": "48a8a03c-c19c-4b38-8c87-89783c159770",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        528
      ],
      "id": "b12e381d-8b5b-4e01-94d4-24060544725e",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        304
      ],
      "id": "c731b36e-8367-49ac-9518-7ede436554c4",
      "name": "Reply to a message",
      "webhookId": "e835580f-efa3-417b-a636-63e2a44c1700"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7bac18f-ceb6-41a0-ba16-29206cf25d1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53384da7d0e54333aee57e8645a436dd57da8a3f285afee87f4b1047d394f2f8"
  },
  "id": "yz4Lf19AwruKVt4j",
  "tags": []
}