RAG_pipeline.json
{
  "name": "RAG_pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_YgykuFlTVRw-QuHmyLPafyiTHktygM1",
          "mode": "list",
          "cachedResultName": "FAQ1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_YgykuFlTVRw-QuHmyLPafyiTHktygM1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        -208
      ],
      "id": "2c5c1c09-27f4-48ee-a882-be094165d872",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -208
      ],
      "id": "7fd56e83-3b18-421e-b3c4-89bccc636d6c",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdemo2",
          "mode": "list",
          "cachedResultName": "ragdemo2"
        },
        "options": {
          "pineconeNamespace": "faq_test_ragdemo1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -336,
        -208
      ],
      "id": "17e91417-cef9-4277-b903-2d1aad16bac1",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "985e0b8e-ce0e-4649-afb8-8a0e42b8256d",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -224,
        32
      ],
      "id": "8675748f-7cf6-4b33-b73d-484b87a8fa01",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -144,
        240
      ],
      "id": "6b0561d7-9fdb-42d2-aef9-9050fc58b4c9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful, intelligent assistant designed to answer user questions by retrieving information from a document-based knowledge base.\n\nTo do this, you must always use the tool named `FAQ_Vector_Search`. This tool allows you to search a Pinecone vector store containing embedded chunks of frequently asked questions and answers.\n\nHow to behave:\n- For every user query, first pass the query string to the `FAQ_Vector_Search` tool.\n- Wait for the tool’s output, which will be a list of relevant text chunks.\n- Use only this retrieved content to generate your final response.\n- You must not guess or generate answers from your own knowledge. Always rely on the tool output.\n\nWhat to do when the tool fails:\n- If the `FAQ_Vector_Search` tool is unavailable, does not return results, or throws an error,\n  respond clearly with:  \n  `Error: I was unable to call the FAQ_Vector_Search tool. Reason: [state the reason].`\n\nExpected tool behavior:\n- Tool input: A single string (the user query)\n- Tool output: A list of text chunks containing FAQ-style content\n- Output is plain text (no HTML or formatting)\n\nRestrictions:\n- Do not fabricate or hallucinate information.\n- Do not answer based on assumptions or external knowledge.\n- Do not skip the tool under any circumstances.\n\nYour role is to serve as an interface between the user and the document database via the `FAQ_Vector_Search` tool.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        368,
        -208
      ],
      "id": "eec8c801-e755-4d52-b05a-c9ab11818281",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        -208
      ],
      "id": "9a8085f4-42b7-4909-9b8e-535338cb6de4",
      "name": "When chat message received",
      "webhookId": "f0884063-6da5-4267-9754-c161c529a848"
    },
    {
      "parameters": {
        "model": "google/gemini-flash-1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        32
      ],
      "id": "f2d5e25c-4d2e-43fe-bc60-f21daef8e5ba",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        160
      ],
      "id": "2d54d138-5f40-4081-9afb-1fbd60cfba0b",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a helpful assistant. Use the tool that allows you to access the 'faq_test_ragdemo1' database to retrieve documents relevant to the user's query. You must always use this tool for answering questions. If you cannot use the tool, show an error message explaining why.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdemo2",
          "mode": "list",
          "cachedResultName": "ragdemo2"
        },
        "options": {
          "pineconeNamespace": "faq_test_ragdemo1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        -16
      ],
      "id": "7dac4d7a-34d3-4155-84c3-a8693182c7c4",
      "name": "FAQ_Vector_Search"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "FAQ_Vector_Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "FAQ_Vector_Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff23e911-6308-45a1-9a8f-0e9b6448b874",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53384da7d0e54333aee57e8645a436dd57da8a3f285afee87f4b1047d394f2f8"
  },
  "id": "yz4Lf19AwruKVt4j",
  "tags": []
}